apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: device-gateway-secret
  namespace: vhhealth
spec:
  encryptedData:
    backend-token: REPLACE_WITH_SEALED_DEVICE_GATEWAY_JWT
    api-key: REPLACE_WITH_SEALED_DEVICE_GATEWAY_API_KEY
  template:
    metadata:
      name: device-gateway-secret
      namespace: vhhealth
    type: Opaque
