{
  "openapi": "3.0.3",
  "info": {
    "title": "VH Health API",
    "version": "2.0.0",
    "description": "VH Health platform REST API. Paths are generated from the live Express router by scripts/generate-openapi.mjs and gated by scripts/check-openapi-drift.mjs. Operation request/response payloads are enriched per subsystem in later phases — see docs/superpowers/specs/2026-06-24-openapi-contract-pipeline-design.md.",
    "contact": {
      "name": "VH Health Tech Team",
      "email": "api@vhhealth.com",
      "url": "https://vhhealth.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://vhhealth.com/license"
    }
  },
  "servers": [
    {
      "url": "https://api.vhhealth.app/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:5000/api/v1",
      "description": "Development"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key (API_KEY env var)"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT user token"
      }
    },
    "schemas": {
      "Success": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Operation successful"
          },
          "data": {
            "type": "object",
            "description": "Response data (varies by endpoint)"
          }
        }
      },
      "AbdmCompletionErrorResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "success"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "AbdmHiuBundleContent": {
        "type": "object",
        "required": [
          "bundle",
          "content"
        ],
        "properties": {
          "bundle": {
            "$ref": "#/components/schemas/AbdmHiuReceivedBundle"
          },
          "content": {
            "description": "The decrypted FHIR bundle, streamed from R2 for transient rendering (PHI access is logged)."
          }
        }
      },
      "AbdmHiuBundleContentResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmHiuBundleContent"
          }
        }
      },
      "AbdmHiuBundleList": {
        "type": "object",
        "required": [
          "bundles",
          "count",
          "total",
          "limit",
          "offset"
        ],
        "properties": {
          "bundles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbdmHiuReceivedBundle"
            }
          },
          "count": {
            "type": "integer"
          },
          "total": {
            "type": "integer",
            "maximum": 1000
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "offset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 2147483647
          }
        }
      },
      "AbdmHiuBundleListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmHiuBundleList"
          }
        }
      },
      "AbdmHiuCallbackAck": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "nullable": true
          },
          "duplicate": {
            "type": "boolean"
          }
        }
      },
      "AbdmHiuCallbackAckResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmHiuCallbackAck"
          }
        }
      },
      "AbdmHiuConsentArtifactList": {
        "type": "object",
        "required": [
          "artifacts",
          "count"
        ],
        "properties": {
          "artifacts": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "AbdmHiuConsentArtifactListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmHiuConsentArtifactList"
          }
        }
      },
      "AbdmHiuConsentRequest": {
        "type": "object",
        "required": [
          "id",
          "request_id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "request_id": {
            "type": "string"
          },
          "flow_kind": {
            "type": "string",
            "enum": [
              "hiu"
            ]
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "requester_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "hi_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "permission_kind": {
            "type": "string"
          },
          "data_from": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "data_to": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expiry_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "purpose_code": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "requested",
              "granted",
              "denied",
              "revoked",
              "expired",
              "failed"
            ]
          },
          "requested_at": {
            "type": "string",
            "format": "date-time"
          },
          "decided_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "environment": {
            "type": "string",
            "enum": [
              "sandbox",
              "production"
            ]
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "AbdmHiuConsentRequestCreate": {
        "type": "object",
        "required": [
          "abha_address",
          "hi_types",
          "date_from",
          "date_to",
          "expiry"
        ],
        "properties": {
          "abha_address": {
            "type": "string",
            "description": "Patient ABHA address (name@abdm / name@sbx)."
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "purpose": {
            "type": "string",
            "default": "CAREMGT"
          },
          "hi_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "date_from": {
            "type": "string",
            "format": "date-time"
          },
          "date_to": {
            "type": "string",
            "format": "date-time"
          },
          "expiry": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AbdmHiuConsentRequestData": {
        "type": "object",
        "required": [
          "consent_request"
        ],
        "properties": {
          "consent_request": {
            "$ref": "#/components/schemas/AbdmHiuConsentRequest"
          }
        }
      },
      "AbdmHiuConsentRequestList": {
        "type": "object",
        "required": [
          "consent_requests",
          "count"
        ],
        "properties": {
          "consent_requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbdmHiuConsentRequest"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "AbdmHiuConsentRequestListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmHiuConsentRequestList"
          }
        }
      },
      "AbdmHiuConsentRequestResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmHiuConsentRequestData"
          }
        }
      },
      "AbdmHiuDataPushAck": {
        "type": "object",
        "required": [
          "transactionId"
        ],
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "duplicate": {
            "type": "boolean"
          },
          "stored": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          }
        }
      },
      "AbdmHiuDataPushAckResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmHiuDataPushAck"
          }
        }
      },
      "AbdmHiuFetchSession": {
        "type": "object",
        "required": [
          "id",
          "transaction_id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "environment": {
            "type": "string",
            "enum": [
              "sandbox",
              "production"
            ]
          },
          "consent_artifact_id": {
            "type": "integer",
            "nullable": true
          },
          "data_transfer_id": {
            "type": "integer",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "transaction_id": {
            "type": "string"
          },
          "request_id": {
            "type": "string",
            "nullable": true
          },
          "hi_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "date_range_from": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "date_range_to": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "data_push_url": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "requested",
              "acknowledged",
              "receiving",
              "completed",
              "partial",
              "failed",
              "expired"
            ]
          },
          "parts_expected": {
            "type": "integer",
            "nullable": true
          },
          "parts_received": {
            "type": "integer"
          },
          "requested_at": {
            "type": "string",
            "format": "date-time"
          },
          "acknowledged_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "failure_reason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AbdmHiuFetchSessionData": {
        "type": "object",
        "required": [
          "session"
        ],
        "properties": {
          "session": {
            "$ref": "#/components/schemas/AbdmHiuFetchSession"
          }
        }
      },
      "AbdmHiuFetchSessionList": {
        "type": "object",
        "required": [
          "sessions",
          "count"
        ],
        "properties": {
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbdmHiuFetchSession"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "AbdmHiuFetchSessionListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmHiuFetchSessionList"
          }
        }
      },
      "AbdmHiuFetchSessionResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmHiuFetchSessionData"
          }
        }
      },
      "AbdmHiuReceivedBundle": {
        "type": "object",
        "required": [
          "id",
          "fetch_session_id",
          "bundle_sha256",
          "byte_length"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "fetch_session_id": {
            "type": "integer"
          },
          "fetch_page_id": {
            "type": "integer"
          },
          "page_number": {
            "type": "integer",
            "minimum": 1
          },
          "care_context_reference": {
            "type": "string",
            "nullable": true
          },
          "hi_type": {
            "type": "string",
            "nullable": true
          },
          "part_number": {
            "type": "integer",
            "nullable": true
          },
          "bundle_sha256": {
            "type": "string"
          },
          "byte_length": {
            "type": "integer",
            "minimum": 0,
            "maximum": 524288,
            "description": "Verified decrypted byte length. The private R2 object key is never exposed."
          },
          "checksum_verified": {
            "type": "boolean"
          },
          "media_type": {
            "type": "string"
          },
          "received_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AbdmShareCallbackAck": {
        "type": "object",
        "required": [
          "acknowledgement"
        ],
        "properties": {
          "acknowledgement": {
            "type": "object",
            "required": [
              "status"
            ],
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "SUCCESS"
                ]
              }
            }
          },
          "requestId": {
            "type": "string",
            "nullable": true
          },
          "tokenNumber": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AbdmShareCallbackAckResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmShareCallbackAck"
          }
        }
      },
      "AbdmShareIntake": {
        "type": "object",
        "required": [
          "id",
          "request_id",
          "environment",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "environment": {
            "type": "string",
            "enum": [
              "sandbox",
              "production"
            ]
          },
          "request_id": {
            "type": "string",
            "description": "CM request id — UNIQUE per (tenant, environment); redeliveries collapse."
          },
          "token_number": {
            "type": "string",
            "nullable": true,
            "description": "Queue-display token (CM-assigned, or minted from the row id)."
          },
          "counter_context": {
            "type": "string",
            "nullable": true
          },
          "abha_number": {
            "type": "string",
            "nullable": true
          },
          "abha_address": {
            "type": "string",
            "nullable": true
          },
          "profile": {
            "type": "object",
            "description": "Allowlisted shared demographics only — never Aadhaar material."
          },
          "status": {
            "type": "string",
            "enum": [
              "received",
              "matched",
              "registered",
              "linked_visit",
              "dismissed",
              "expired",
              "failed"
            ]
          },
          "matched_patient_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "linked_appointment_id": {
            "type": "integer",
            "nullable": true
          },
          "processed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "received_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AbdmShareIntakeData": {
        "type": "object",
        "required": [
          "intake"
        ],
        "properties": {
          "intake": {
            "$ref": "#/components/schemas/AbdmShareIntake"
          }
        }
      },
      "AbdmShareIntakeDismissRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "nullable": true,
            "maxLength": 500
          }
        }
      },
      "AbdmShareIntakeLinkVisitRequest": {
        "type": "object",
        "required": [
          "appointment_id"
        ],
        "properties": {
          "appointment_id": {
            "type": "integer"
          }
        }
      },
      "AbdmShareIntakeList": {
        "type": "object",
        "required": [
          "intakes",
          "count"
        ],
        "properties": {
          "intakes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AbdmShareIntake"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "AbdmShareIntakeListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmShareIntakeList"
          }
        }
      },
      "AbdmShareIntakeMatchRequest": {
        "type": "object",
        "required": [
          "patient_uid"
        ],
        "properties": {
          "patient_uid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "AbdmShareIntakeRegisterRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Overrides the shared profile value."
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "gender": {
            "type": "string",
            "nullable": true
          },
          "birthday": {
            "type": "string",
            "nullable": true,
            "description": "YYYY-MM-DD."
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "duplicate_override_reason": {
            "type": "string",
            "nullable": true,
            "description": "Audited create-anyway reason (min 10 chars) once duplicates were reviewed."
          }
        }
      },
      "AbdmShareIntakeRegisterResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmShareIntakeRegisterResult"
          }
        }
      },
      "AbdmShareIntakeRegisterResult": {
        "type": "object",
        "required": [
          "intake",
          "patient"
        ],
        "properties": {
          "intake": {
            "$ref": "#/components/schemas/AbdmShareIntake"
          },
          "patient": {
            "type": "object",
            "required": [
              "uid"
            ],
            "properties": {
              "id": {
                "type": "integer"
              },
              "uid": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              }
            }
          },
          "abha_link": {
            "type": "object",
            "nullable": true,
            "description": "registerABHA linkage result (verified only if it passed the 653 gate)."
          },
          "abha_link_error": {
            "type": "string",
            "nullable": true
          },
          "duplicate_override": {
            "type": "boolean"
          }
        }
      },
      "AbdmShareIntakeResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbdmShareIntakeData"
          }
        }
      },
      "AbhaEnrolmentCancelRequest": {
        "type": "object",
        "required": [
          "session_id"
        ],
        "properties": {
          "session_id": {
            "type": "integer"
          }
        }
      },
      "AbhaEnrolmentOtpRequest": {
        "type": "object",
        "required": [
          "session_id",
          "otp"
        ],
        "properties": {
          "session_id": {
            "type": "integer"
          },
          "otp": {
            "type": "string",
            "description": "6-digit OTP. Encrypted in memory and forwarded — never persisted or logged."
          }
        }
      },
      "AbhaEnrolmentResendRequest": {
        "type": "object",
        "required": [
          "session_id"
        ],
        "properties": {
          "session_id": {
            "type": "integer"
          },
          "aadhaar_number": {
            "type": "string",
            "nullable": true,
            "description": "Required again for the aadhaar_otp flow — the number is never stored, so a resend must re-supply it."
          },
          "mobile": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AbhaEnrolmentSession": {
        "type": "object",
        "required": [
          "id",
          "flow",
          "environment",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid"
          },
          "flow": {
            "type": "string",
            "enum": [
              "aadhaar_otp",
              "mobile_otp"
            ]
          },
          "environment": {
            "type": "string",
            "enum": [
              "sandbox",
              "production"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "initiated",
              "otp_sent",
              "otp_verifying",
              "otp_verified",
              "enrolled",
              "linked",
              "failed",
              "expired",
              "cancelled"
            ]
          },
          "otp_attempts": {
            "type": "integer"
          },
          "mobile_last4": {
            "type": "string",
            "nullable": true,
            "description": "The only demographic echo kept — never the full mobile, never any Aadhaar material."
          },
          "abha_number": {
            "type": "string",
            "nullable": true
          },
          "abha_address": {
            "type": "string",
            "nullable": true
          },
          "error_code": {
            "type": "string",
            "nullable": true
          },
          "otp_sent_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "enrolled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "linked_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AbhaEnrolmentSessionData": {
        "type": "object",
        "required": [
          "session"
        ],
        "properties": {
          "session": {
            "$ref": "#/components/schemas/AbhaEnrolmentSession"
          }
        }
      },
      "AbhaEnrolmentSessionResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbhaEnrolmentSessionData"
          }
        }
      },
      "AbhaEnrolmentStartRequest": {
        "type": "object",
        "properties": {
          "flow": {
            "type": "string",
            "enum": [
              "aadhaar_otp",
              "mobile_otp"
            ],
            "default": "aadhaar_otp",
            "description": "aadhaar_otp creates a new ABHA; mobile_otp is the verify/update-mobile leg for an already-enrolled ABHA."
          },
          "aadhaar_number": {
            "type": "string",
            "nullable": true,
            "description": "12-digit Aadhaar (Verhoeff-validated). Encrypted in memory with the gateway certificate and discarded — never persisted or logged."
          },
          "mobile": {
            "type": "string",
            "nullable": true,
            "description": "10-digit mobile (mobile_otp flow, or communication mobile)."
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Front-desk assisted mount only; the portal mount always targets the caller."
          }
        }
      },
      "AbhaEnrolmentStatusData": {
        "type": "object",
        "properties": {
          "session": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/AbhaEnrolmentSession"
              }
            ],
            "description": "Latest enrolment session for the patient, or null when none exists."
          }
        }
      },
      "AbhaEnrolmentStatusResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbhaEnrolmentStatusData"
          }
        }
      },
      "AbhaLinkRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "abha_number"
        ],
        "properties": {
          "abha_number": {
            "type": "string",
            "description": "14-digit ABHA number of an account the patient ALREADY HOLDS. Hyphens in the canonical 2-4-4-4 spelling are accepted and normalized to the canonical hyphenated form before storage; anything that is not 14 digits once hyphens are removed is rejected with INVALID_ABHA_FORMAT.",
            "example": "12-3456-7890-1234"
          },
          "abha_address": {
            "type": "string",
            "nullable": true,
            "description": "Optional ABHA address (\"user@abdm\"). Validated for shape only — the suffix differs between the production (@abdm) and sandbox (@sbx) environments — and lower-cased before storage. A malformed value is rejected with INVALID_ABHA_ADDRESS rather than stored.",
            "example": "patient@abdm"
          },
          "patient_uid": {
            "type": "string",
            "nullable": true,
            "description": "Link on behalf of another patient. ADMIN and SUPER_ADMIN only; any other role supplying a uid other than its own is refused with 403. Omit for self-linkage — the target is then taken from the JWT."
          }
        }
      },
      "AbhaLinkResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "linked",
          "abhaNumber",
          "abhaAddress",
          "verification_status",
          "abha_verified_at"
        ],
        "properties": {
          "linked": {
            "type": "boolean",
            "description": "Always true on a 200 — the response describes the linkage that now exists."
          },
          "abhaNumber": {
            "type": "string",
            "nullable": true,
            "description": "The ABHA number now on file, normalized to canonical 2-4-4-4 spelling."
          },
          "abhaAddress": {
            "type": "string",
            "nullable": true,
            "description": "The normalized ABHA address now on file, or null when none was supplied."
          },
          "verification_status": {
            "type": "string",
            "enum": [
              "pending",
              "verified"
            ],
            "description": "Verification state minted for the link (migration 653). `verified` only when the ABDM gateway confirmed the number during this call, or when re-linking the same number whose earlier verification is preserved; linking while ABDM is disabled, or under the audited ABDM_ABHA_ALLOW_UNVERIFIED override, mints `pending`. A pending link displays to the patient but does not resolve in ABDM flows and does not block another patient from claiming (and verifying) the same number."
          },
          "abha_verified_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the number was gateway-verified, or null for a pending link."
          }
        }
      },
      "AbhaLinkResultResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbhaLinkResult"
          }
        }
      },
      "AbhaLinkage": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "linked",
          "abhaNumber",
          "abhaAddress",
          "verification_status",
          "abha_verified_at"
        ],
        "properties": {
          "linked": {
            "type": "boolean",
            "description": "True when the caller has an ABHA number or ABHA address on file. This is the authoritative flag — a patient may be linked by address alone, so do not infer linkage from `abhaNumber` being non-null."
          },
          "abhaNumber": {
            "type": "string",
            "nullable": true,
            "description": "14-digit ABHA number, or null when not linked."
          },
          "abhaAddress": {
            "type": "string",
            "nullable": true,
            "description": "ABHA address (user@abdm), or null when not linked."
          },
          "verification_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "pending",
              "verified",
              null
            ],
            "description": "Verification state of the linked ABHA number (migration 653). `pending` means the number is on file but has not been confirmed with the ABDM gateway — it displays to the patient but does not resolve in ABDM flows (inbound consent callbacks, staff lookup) and does not own the tenant-unique slot. `verified` means the ABDM gateway confirmed the number. Null when no ABHA number is linked. `linked` keeps its original meaning (a number/address is on file) for compatibility."
          },
          "abha_verified_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the linked ABHA number was verified with the ABDM gateway, or null while pending or unlinked."
          }
        }
      },
      "AbhaLinkageResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AbhaLinkage"
          }
        }
      },
      "AbhaVerifyLinkedRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "patient_uid": {
            "type": "string",
            "nullable": true,
            "description": "Verify on behalf of another patient. ADMIN and SUPER_ADMIN only; any other role supplying a uid other than its own is refused with 403. Omit for self — the target is then taken from the JWT."
          }
        }
      },
      "AddInvoiceItemRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "Reverse-engineered from billingV2Service.addInvoiceItem; not validator-backed.",
        "properties": {
          "service_code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "unit_price": {
            "type": "number"
          },
          "gst_rate": {
            "type": "number"
          },
          "notes": {
            "type": "string"
          },
          "source_ref_type": {
            "type": "string"
          },
          "source_ref_id": {
            "oneOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "string",
                "pattern": "^[1-9][0-9]*$",
                "description": "Decimal string when the identifier exceeds the JavaScript safe-integer range."
              }
            ]
          }
        }
      },
      "AddPackageItemRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "Reverse-engineered from billingMastersService.addPackageItem; service-layer validation.",
        "properties": {
          "service_code": {
            "type": "string"
          },
          "service_kind": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "unit_price_minor": {
            "type": "integer"
          },
          "is_included": {
            "type": "boolean"
          },
          "notes": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AdmissionDetail": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "patient_uid"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "encounter_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "admitted",
              "transferred",
              "discharged",
              "cancelled",
              "lama",
              "expired"
            ]
          },
          "admission_type": {
            "type": "string",
            "nullable": true
          },
          "priority": {
            "type": "string",
            "nullable": true,
            "enum": [
              "routine",
              "urgent",
              "emergent"
            ]
          },
          "code_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "full_code",
              "dnr",
              "dni",
              "comfort_care"
            ]
          },
          "room_category": {
            "type": "string",
            "nullable": true,
            "enum": [
              "general",
              "semi_private",
              "private",
              "deluxe",
              "icu",
              "day_care"
            ]
          },
          "discharge_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "home",
              "transfer",
              "lama",
              "expired",
              "aor"
            ]
          },
          "ward": {
            "type": "string",
            "nullable": true
          },
          "bed_id": {
            "type": "integer",
            "nullable": true
          },
          "bed_number": {
            "type": "string",
            "nullable": true
          },
          "admitting_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "attending_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "admitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "discharged_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "insurance_info": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "emergency_contact": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "discharge_summary": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "allergies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "chief_complaint": {
            "type": "string",
            "nullable": true
          },
          "admitting_diagnosis": {
            "type": "string",
            "nullable": true
          },
          "patient_name": {
            "type": "string"
          },
          "patient_phone": {
            "type": "string",
            "nullable": true
          },
          "patient_hospital_number": {
            "type": "string",
            "nullable": true
          },
          "hospital_number": {
            "type": "string",
            "nullable": true
          },
          "patient_gender": {
            "type": "string",
            "nullable": true
          },
          "patient_email": {
            "type": "string",
            "nullable": true
          },
          "patient_birthday": {
            "type": "string",
            "nullable": true
          },
          "bed_ward_name": {
            "type": "string",
            "nullable": true
          },
          "admitting_doctor_name": {
            "type": "string",
            "nullable": true
          },
          "attending_doctor_name": {
            "type": "string",
            "nullable": true
          },
          "los_days": {
            "type": "integer",
            "nullable": true
          },
          "prior_admission": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        }
      },
      "AdmissionDetailData": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "admission"
        ],
        "properties": {
          "admission": {
            "$ref": "#/components/schemas/AdmissionDetail"
          }
        }
      },
      "AdmissionHistoryData": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "admissions"
        ],
        "properties": {
          "admissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdmissionHistoryItem"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "AdmissionHistoryItem": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "encounter_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "admitting_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "attending_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          },
          "ward": {
            "type": "string",
            "nullable": true
          },
          "bed_id": {
            "type": "integer",
            "nullable": true
          },
          "bed_number": {
            "type": "string",
            "nullable": true
          },
          "chief_complaint": {
            "type": "string",
            "nullable": true
          },
          "admitting_diagnosis": {
            "type": "string",
            "nullable": true
          },
          "admission_type": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "admitted",
              "transferred",
              "discharged",
              "cancelled",
              "lama",
              "expired"
            ]
          },
          "priority": {
            "type": "string",
            "nullable": true,
            "enum": [
              "routine",
              "urgent",
              "emergent"
            ]
          },
          "code_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "full_code",
              "dnr",
              "dni",
              "comfort_care"
            ]
          },
          "admitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "discharged_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "discharge_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "home",
              "transfer",
              "lama",
              "expired",
              "aor"
            ]
          },
          "expected_los_days": {
            "type": "integer",
            "nullable": true
          },
          "ip_number": {
            "type": "string",
            "nullable": true
          },
          "los_days": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "AdmissionListItem": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "encounter_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "admitting_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "attending_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          },
          "ward": {
            "type": "string",
            "nullable": true
          },
          "bed_id": {
            "type": "integer",
            "nullable": true
          },
          "bed_number": {
            "type": "string",
            "nullable": true
          },
          "chief_complaint": {
            "type": "string",
            "nullable": true
          },
          "admitting_diagnosis": {
            "type": "string",
            "nullable": true
          },
          "admission_type": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "admitted",
              "transferred",
              "discharged",
              "cancelled",
              "lama",
              "expired"
            ]
          },
          "priority": {
            "type": "string",
            "nullable": true,
            "enum": [
              "routine",
              "urgent",
              "emergent"
            ]
          },
          "code_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "full_code",
              "dnr",
              "dni",
              "comfort_care"
            ]
          },
          "allergies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "admitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expected_los_days": {
            "type": "integer",
            "nullable": true
          },
          "next_review_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "patient_phone": {
            "type": "string",
            "nullable": true
          },
          "patient_hospital_number": {
            "type": "string",
            "nullable": true
          },
          "hospital_number": {
            "type": "string",
            "nullable": true
          },
          "bed_ward_name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AdmissionLookup": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "lookup_state"
        ],
        "properties": {
          "lookup_state": {
            "type": "string",
            "enum": [
              "multiple_matches",
              "new_patient",
              "returning_ip_patient",
              "known_patient_no_prior_ip"
            ]
          },
          "patient": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "matches": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "prior_admissions": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "count": {
            "type": "integer"
          },
          "last_ip_number": {
            "type": "string",
            "nullable": true
          },
          "last_admission": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "next_ip_number_hint": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AdmissionLookupData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AdmissionLookup"
          }
        ]
      },
      "AdmissionMutationData": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "admission"
        ],
        "properties": {
          "admission": {
            "$ref": "#/components/schemas/AdmissionRow"
          }
        }
      },
      "AdmissionRow": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "patient_uid"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "encounter_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "admitted",
              "transferred",
              "discharged",
              "cancelled",
              "lama",
              "expired"
            ]
          },
          "admission_type": {
            "type": "string",
            "nullable": true
          },
          "admitting_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "ward": {
            "type": "string",
            "nullable": true
          },
          "bed_id": {
            "type": "integer",
            "nullable": true
          },
          "bed_number": {
            "type": "string",
            "nullable": true
          },
          "attending_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "admitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "discharged_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "code_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "full_code",
              "dnr",
              "dni",
              "comfort_care"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "from_er_visit_id": {
            "type": "integer",
            "nullable": true
          },
          "er_arrival_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "room_category": {
            "type": "string",
            "nullable": true,
            "enum": [
              "general",
              "semi_private",
              "private",
              "deluxe",
              "icu",
              "day_care"
            ]
          },
          "emergency_consent_bypass_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "emergency_consent_bypass_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "emergency_consent_bypass_reason": {
            "type": "string",
            "nullable": true
          },
          "policy_id": {
            "type": "integer",
            "nullable": true
          },
          "package_id": {
            "type": "integer",
            "nullable": true
          },
          "package_code": {
            "type": "string",
            "nullable": true
          },
          "package_estimated_cost_minor": {
            "nullable": true,
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "govt_scheme": {
            "type": "string",
            "nullable": true
          },
          "govt_scheme_status": {
            "type": "string",
            "nullable": true
          },
          "next_review_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "prior_admission_id": {
            "type": "integer",
            "nullable": true
          },
          "los_days": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "AdmissionStats": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "total_admissions",
          "total_discharged"
        ],
        "properties": {
          "total_admissions": {
            "type": "integer"
          },
          "total_discharged": {
            "type": "integer"
          },
          "avg_los_days": {
            "type": "number",
            "nullable": true
          },
          "currently_admitted": {
            "type": "integer"
          },
          "currently_transferred": {
            "type": "integer"
          },
          "occupancy_rate": {
            "type": "number"
          },
          "total_beds": {
            "type": "integer"
          },
          "occupied_beds": {
            "type": "integer"
          },
          "discharge_type_breakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "discharge_type",
                "count"
              ],
              "properties": {
                "discharge_type": {
                  "type": "string",
                  "nullable": true,
                  "enum": [
                    "home",
                    "transfer",
                    "lama",
                    "expired",
                    "aor"
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "admission_type_breakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "admission_type",
                "count"
              ],
              "properties": {
                "admission_type": {
                  "type": "string",
                  "nullable": true
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "AdmissionStatsData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AdmissionStats"
          }
        ]
      },
      "AdmitAdmissionRow": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "status",
          "patient_uid"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "encounter_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "admitted",
              "transferred",
              "discharged",
              "cancelled",
              "lama",
              "expired"
            ]
          },
          "admission_type": {
            "type": "string",
            "nullable": true
          },
          "admitting_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "attending_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "ward": {
            "type": "string",
            "nullable": true
          },
          "bed_id": {
            "type": "integer",
            "nullable": true
          },
          "bed_number": {
            "type": "string",
            "nullable": true
          },
          "admitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "discharged_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "code_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "full_code",
              "dnr",
              "dni",
              "comfort_care"
            ]
          },
          "room_category": {
            "type": "string",
            "nullable": true,
            "enum": [
              "general",
              "semi_private",
              "private",
              "deluxe",
              "icu",
              "day_care"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "ip_number": {
            "type": "string",
            "nullable": true
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "patient_phone": {
            "type": "string",
            "nullable": true
          },
          "patient_hospital_number": {
            "type": "string",
            "nullable": true
          },
          "hospital_number": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AdmitData": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "admission"
        ],
        "properties": {
          "admission": {
            "$ref": "#/components/schemas/AdmitAdmissionRow"
          }
        }
      },
      "Advance": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "patient_uid",
          "amount",
          "balance",
          "mode",
          "collected_at",
          "status",
          "tenant_id",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid"
          },
          "admission_id": {
            "type": "integer",
            "nullable": true
          },
          "amount": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "reference": {
            "type": "string",
            "nullable": true
          },
          "collected_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "collected_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdvanceResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Advance"
          }
        }
      },
      "AdvanceSettlement": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "advance_id",
          "invoice_id",
          "amount",
          "tenant_id"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "advance_id": {
            "type": "integer"
          },
          "invoice_id": {
            "type": "integer"
          },
          "amount": {
            "type": "string"
          },
          "settled_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "settled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "advance_mode": {
            "type": "string"
          }
        }
      },
      "AdvanceSettlementResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AdvanceSettlement"
          }
        }
      },
      "AdvancesListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Advance"
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AdviseAdmissionData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AdviseAdmissionResult"
          }
        ]
      },
      "AdviseAdmissionRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "POST /api/v1/appointments/{id}/advise-admission.",
        "properties": {
          "note": {
            "type": "string"
          }
        }
      },
      "AdviseAdmissionResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AdviseAdmissionResult"
          }
        }
      },
      "AdviseAdmissionResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_id": {
            "type": "integer",
            "nullable": true
          },
          "doctor_id": {
            "type": "integer",
            "nullable": true
          },
          "advised_for_admission_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "advised_for_admission_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "advised_for_admission_note": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "SCHEDULED",
              "CONFIRMED",
              "IN_PROGRESS",
              "COMPLETED",
              "RESCHEDULED",
              "CANCELLED",
              "NO_SHOW"
            ]
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        }
      },
      "AgingBucket": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "bucket",
          "invoiceCount",
          "totalPaise",
          "total"
        ],
        "properties": {
          "bucket": {
            "type": "string",
            "enum": [
              "0-30",
              "31-60",
              "61-90",
              "90+"
            ]
          },
          "invoiceCount": {
            "type": "integer",
            "example": 3
          },
          "totalPaise": {
            "type": "integer",
            "example": 250000
          },
          "total": {
            "type": "string",
            "example": "2500.00"
          }
        }
      },
      "AgingReport": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "buckets",
          "grandTotalPaise",
          "grandTotal"
        ],
        "properties": {
          "buckets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgingBucket"
            }
          },
          "grandTotalPaise": {
            "type": "integer",
            "example": 250000
          },
          "grandTotal": {
            "type": "string",
            "example": "2500.00"
          }
        }
      },
      "AgingReportResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AgingReport"
          }
        }
      },
      "AiDraftEnvelope": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "draft",
          "module_key"
        ],
        "properties": {
          "draft": {
            "type": "object",
            "additionalProperties": true
          },
          "module_key": {
            "type": "string"
          },
          "prompt_version": {
            "type": "string"
          },
          "source_citations": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "safety_flags": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "severity": {
                  "type": "string",
                  "enum": [
                    "low",
                    "medium",
                    "high",
                    "critical"
                  ]
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "ai_metadata": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "provider": {
                "type": "string"
              },
              "model": {
                "type": "string",
                "nullable": true
              },
              "tier": {
                "type": "string"
              },
              "model_tier": {
                "type": "string"
              },
              "used_ai": {
                "type": "boolean"
              },
              "fallback_reason": {
                "type": "string",
                "nullable": true
              },
              "generation_mode": {
                "type": "string"
              },
              "readiness_reason": {
                "type": "string",
                "nullable": true
              },
              "provider_status": {
                "type": "string"
              },
              "usage": {
                "type": "object",
                "additionalProperties": true
              },
              "safety_review": {
                "type": "object",
                "additionalProperties": true,
                "nullable": true
              }
            }
          },
          "review_status": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "rejected",
              "needs_revision",
              "edited",
              "schema_unavailable"
            ]
          },
          "review_id": {
            "type": "integer",
            "nullable": true
          },
          "generation_id": {
            "type": "integer",
            "nullable": true
          },
          "draft_generation_id": {
            "type": "integer",
            "nullable": true
          },
          "requires_signoff": {
            "type": "boolean"
          }
        }
      },
      "AiExtractionSummary": {
        "type": "object",
        "nullable": true,
        "additionalProperties": true,
        "properties": {
          "intake_id": {
            "nullable": true
          },
          "extraction_status": {
            "type": "string",
            "nullable": true
          },
          "document_type": {
            "type": "string",
            "nullable": true
          },
          "reviewer_decision": {
            "type": "string",
            "nullable": true
          },
          "reviewed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "reviewer_note": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "decision_support_only": {
            "type": "boolean"
          },
          "extracted_fields": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "normalized_sections": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "source_citations": {
            "type": "array",
            "items": {}
          },
          "safety_flags": {
            "type": "array",
            "items": {}
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "raw_text": {
            "type": "string"
          }
        }
      },
      "AmbulanceActiveTrackingList": {
        "type": "object",
        "required": [
          "enabled",
          "requests",
          "count"
        ],
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          },
          "requests": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ambulance_request_id": {
                  "type": "integer"
                },
                "request_number": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "priority": {
                  "type": "string"
                },
                "request_kind": {
                  "type": "string"
                },
                "ambulance_unit_id": {
                  "type": "string",
                  "nullable": true
                },
                "driver_name": {
                  "type": "string",
                  "nullable": true
                },
                "destination": {
                  "type": "string",
                  "nullable": true
                },
                "dispatched_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "latest_position_id": {
                  "type": "string",
                  "nullable": true
                },
                "latitude": {
                  "type": "number",
                  "nullable": true
                },
                "longitude": {
                  "type": "number",
                  "nullable": true
                },
                "speed_kmh": {
                  "type": "number",
                  "nullable": true
                },
                "heading_deg": {
                  "type": "number",
                  "nullable": true
                },
                "accuracy_m": {
                  "type": "number",
                  "nullable": true
                },
                "position_recorded_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "position_received_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "eta_latest_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "AmbulanceActiveTrackingResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AmbulanceActiveTrackingList"
          }
        }
      },
      "AmbulancePositionEvent": {
        "type": "object",
        "required": [
          "id",
          "ambulance_request_id",
          "latitude",
          "longitude",
          "recorded_at",
          "source"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "BIGSERIAL id serialized as text."
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "ambulance_request_id": {
            "type": "integer"
          },
          "ambulance_unit_id": {
            "type": "string",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "speed_kmh": {
            "type": "number",
            "nullable": true
          },
          "heading_deg": {
            "type": "number",
            "nullable": true
          },
          "accuracy_m": {
            "type": "number",
            "nullable": true
          },
          "recorded_at": {
            "type": "string",
            "format": "date-time",
            "description": "Device clock instant of the fix (bounded-skew-validated at ingest)."
          },
          "received_at": {
            "type": "string",
            "format": "date-time"
          },
          "source": {
            "type": "string",
            "enum": [
              "driver_app",
              "partner_webhook"
            ]
          },
          "reported_by_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AmbulancePositionIngestRequest": {
        "type": "object",
        "required": [
          "latitude",
          "longitude"
        ],
        "properties": {
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "speed_kmh": {
            "type": "number",
            "minimum": 0,
            "maximum": 400,
            "nullable": true
          },
          "heading_deg": {
            "type": "number",
            "minimum": 0,
            "maximum": 359.99,
            "nullable": true
          },
          "accuracy_m": {
            "type": "number",
            "minimum": 0,
            "nullable": true
          },
          "recorded_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Device clock instant of the fix; defaults to server time. Rejected beyond 2 minutes of future skew or older than 6 hours."
          }
        }
      },
      "AmbulancePositionIngestResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AmbulancePositionIngestResult"
          }
        }
      },
      "AmbulancePositionIngestResult": {
        "type": "object",
        "required": [
          "position",
          "is_latest"
        ],
        "properties": {
          "position": {
            "$ref": "#/components/schemas/AmbulancePositionEvent"
          },
          "is_latest": {
            "type": "boolean",
            "description": "false when the fix was out-of-order (older than the stored latest) — stored for the trail but the live view did not move."
          }
        }
      },
      "AmbulanceTrackingResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AmbulanceTrackingView"
          }
        }
      },
      "AmbulanceTrackingView": {
        "type": "object",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "false when the tenant has not enabled ambulance GPS tracking; tracking is then null."
          },
          "tracking": {
            "type": "object",
            "nullable": true,
            "properties": {
              "ambulance_request_id": {
                "type": "integer"
              },
              "request_number": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "is_trackable": {
                "type": "boolean"
              },
              "ambulance_unit_id": {
                "type": "string",
                "nullable": true
              },
              "destination": {
                "type": "string",
                "nullable": true
              },
              "pickup_geo_lat": {
                "type": "number",
                "nullable": true
              },
              "pickup_geo_lng": {
                "type": "number",
                "nullable": true
              },
              "dispatched_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "latest": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AmbulancePositionEvent"
                  }
                ],
                "nullable": true
              },
              "trail": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AmbulancePositionEvent"
                }
              },
              "eta": {
                "type": "object",
                "nullable": true,
                "description": "Pre-hospital handover ETA passthrough for this request, when a handover exists.",
                "properties": {
                  "eta_first_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "eta_latest_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "eta_change_reason": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      },
      "AnnouncementBanner": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "text",
          "type",
          "enabled"
        ],
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 300,
            "description": "Sanitized banner text; empty when no banner is configured."
          },
          "type": {
            "type": "string",
            "enum": [
              "info",
              "warning",
              "critical",
              "success"
            ],
            "description": "Visual style of the banner."
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the banner is currently shown to portal users."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the banner was last saved; used for per-user dismissal."
          }
        }
      },
      "AnnouncementBannerPayload": {
        "type": "object",
        "required": [
          "banner"
        ],
        "properties": {
          "banner": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/AnnouncementBanner"
              }
            ]
          }
        }
      },
      "AnnouncementBannerResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AnnouncementBannerPayload"
          }
        }
      },
      "AnnouncementBannerUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "text",
          "type",
          "enabled"
        ],
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 300
          },
          "type": {
            "type": "string",
            "enum": [
              "info",
              "warning",
              "critical",
              "success"
            ]
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "AnnualReviewItem": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "uid"
        ],
        "properties": {
          "uid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "type": "string",
            "nullable": true
          },
          "basic_salary": {
            "type": "string",
            "nullable": true
          },
          "date_of_joining": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "years_of_service": {
            "type": "string",
            "nullable": true
          },
          "review_status": {
            "type": "string",
            "nullable": true
          },
          "reminder_id": {
            "type": "integer",
            "nullable": true
          },
          "revision_this_year": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AnnualReviewStatus": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "year",
          "staff"
        ],
        "properties": {
          "year": {
            "type": "integer"
          },
          "staff": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnnualReviewItem"
            }
          }
        }
      },
      "AnnualReviewStatusResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AnnualReviewStatus"
          }
        }
      },
      "ApplyDiscountRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "Reverse-engineered from billingV2Service.applyDiscount; not validator-backed.",
        "properties": {
          "amount": {
            "type": "number"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "ApplyOrderSetResult": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ClinicalOrderCreateResult"
          },
          {
            "type": "object",
            "additionalProperties": true,
            "required": [
              "error",
              "kind"
            ],
            "properties": {
              "error": {
                "type": "string"
              },
              "kind": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ApplyRevisionResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ApplyRevisionResult"
          }
        }
      },
      "ApplyRevisionResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "revision_id",
          "staff_uid"
        ],
        "properties": {
          "revision_id": {
            "type": "string"
          },
          "staff_uid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Appointment": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "uid",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "uid": {
            "type": "string",
            "format": "uuid"
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "patient_id": {
            "type": "integer",
            "nullable": true
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_phone": {
            "type": "string",
            "nullable": true
          },
          "doctor_id": {
            "type": "integer",
            "nullable": true
          },
          "doctor_name": {
            "type": "string",
            "nullable": true
          },
          "appointment_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "appointment_time": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "SCHEDULED",
              "CONFIRMED",
              "IN_PROGRESS",
              "COMPLETED",
              "RESCHEDULED",
              "CANCELLED",
              "NO_SHOW"
            ]
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          },
          "visit_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "NEW",
              "FOLLOW_UP",
              "EMERGENCY",
              "TELE",
              "LAB_ONLY",
              "PAEDIATRIC_OPD"
            ]
          },
          "token_number": {
            "type": "string",
            "nullable": true
          },
          "visit_no": {
            "type": "string",
            "nullable": true
          },
          "confirmed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "parent_appointment_id": {
            "type": "integer",
            "nullable": true
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "queue_id": {
            "type": "integer",
            "nullable": true
          },
          "appointment_queue": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        }
      },
      "AppointmentAnalyticsResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AppointmentAnalyticsResult"
          }
        }
      },
      "AppointmentAnalyticsResult": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "timeframe",
          "overall",
          "trends",
          "departmentBreakdown",
          "peakHours"
        ],
        "properties": {
          "timeframe": {
            "type": "string",
            "enum": [
              "7d",
              "30d",
              "90d",
              "1y"
            ]
          },
          "overall": {
            "type": "object",
            "additionalProperties": true
          },
          "trends": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "departmentBreakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "peakHours": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "requestedBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentAuditTrailEntry": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "appointment_id",
          "to_status"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "appointment_id": {
            "type": "integer"
          },
          "from_status": {
            "type": "string",
            "nullable": true
          },
          "to_status": {
            "type": "string"
          },
          "changed_by": {
            "type": "integer",
            "nullable": true
          },
          "changed_by_role": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "appointment_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "changed_by_name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentAuditTrailResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppointmentAuditTrailEntry"
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AppointmentConflict": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "appointment1_id",
          "appointment2_id"
        ],
        "properties": {
          "appointment1_id": {
            "type": "integer"
          },
          "appointment1_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "patient1_name": {
[...]
