{
  "openapi": "3.0.3",
  "info": {
    "title": "VH Health API",
    "version": "2.0.0",
    "description": "VH Health platform REST API. Paths are generated from the live Express router by scripts/generate-openapi.mjs and gated by scripts/check-openapi-drift.mjs. Operation request/response payloads are enriched per subsystem in later phases — see docs/superpowers/specs/2026-06-24-openapi-contract-pipeline-design.md.",
    "contact": {
      "name": "VH Health Tech Team",
      "email": "api@vhhealth.com",
      "url": "https://vhhealth.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://vhhealth.com/license"
    }
  },
  "servers": [
    {
      "url": "https://api.vhhealth.app/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:5000/api/v1",
      "description": "Development"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key (API_KEY env var)"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT user token"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Error message"
          },
          "error": {
            "type": "string",
            "example": "Error details"
          },
          "details": {
            "type": "object"
          }
        }
      },
      "Success": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Operation successful"
          },
          "data": {
            "type": "object",
            "description": "Response data (varies by endpoint)"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "pagination": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "integer",
                    "example": 1
                  },
                  "limit": {
                    "type": "integer",
                    "example": 10
                  },
                  "total": {
                    "type": "integer",
                    "example": 100
                  },
                  "totalPages": {
                    "type": "integer",
                    "example": 10
                  }
                }
              }
            }
          }
        }
      },
      "AddInvoiceItemRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "Reverse-engineered from billingV2Service.addInvoiceItem; not validator-backed.",
        "properties": {
          "service_code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "unit_price": {
            "type": "number"
          },
          "gst_rate": {
            "type": "number"
          },
          "notes": {
            "type": "string"
          },
          "source_ref_type": {
            "type": "string"
          },
          "source_ref_id": {
            "oneOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "string",
                "pattern": "^[1-9][0-9]*$",
                "description": "Decimal string when the identifier exceeds the JavaScript safe-integer range."
              }
            ]
          }
        }
      },
      "AddPackageItemRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "Reverse-engineered from billingMastersService.addPackageItem; service-layer validation.",
        "properties": {
          "service_code": {
            "type": "string"
          },
          "service_kind": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "unit_price_minor": {
            "type": "integer"
          },
          "is_included": {
            "type": "boolean"
          },
          "notes": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AdmissionDetail": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "patient_uid"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "encounter_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "admitted",
              "transferred",
              "discharged",
              "cancelled",
              "lama",
              "expired"
            ]
          },
          "admission_type": {
            "type": "string",
            "nullable": true
          },
          "priority": {
            "type": "string",
            "nullable": true,
            "enum": [
              "routine",
              "urgent",
              "emergent"
            ]
          },
          "code_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "full_code",
              "dnr",
              "dni",
              "comfort_care"
            ]
          },
          "room_category": {
            "type": "string",
            "nullable": true,
            "enum": [
              "general",
              "semi_private",
              "private",
              "deluxe",
              "icu",
              "day_care"
            ]
          },
          "discharge_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "home",
              "transfer",
              "lama",
              "expired",
              "aor"
            ]
          },
          "ward": {
            "type": "string",
            "nullable": true
          },
          "bed_id": {
            "type": "integer",
            "nullable": true
          },
          "bed_number": {
            "type": "string",
            "nullable": true
          },
          "admitting_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "attending_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "admitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "discharged_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "insurance_info": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "emergency_contact": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "discharge_summary": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "allergies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "chief_complaint": {
            "type": "string",
            "nullable": true
          },
          "admitting_diagnosis": {
            "type": "string",
            "nullable": true
          },
          "patient_name": {
            "type": "string"
          },
          "patient_phone": {
            "type": "string",
            "nullable": true
          },
          "patient_hospital_number": {
            "type": "string",
            "nullable": true
          },
          "hospital_number": {
            "type": "string",
            "nullable": true
          },
          "patient_gender": {
            "type": "string",
            "nullable": true
          },
          "patient_email": {
            "type": "string",
            "nullable": true
          },
          "patient_birthday": {
            "type": "string",
            "nullable": true
          },
          "bed_ward_name": {
            "type": "string",
            "nullable": true
          },
          "admitting_doctor_name": {
            "type": "string",
            "nullable": true
          },
          "attending_doctor_name": {
            "type": "string",
            "nullable": true
          },
          "los_days": {
            "type": "integer",
            "nullable": true
          },
          "prior_admission": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        }
      },
      "AdmissionDetailData": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "admission"
        ],
        "properties": {
          "admission": {
            "$ref": "#/components/schemas/AdmissionDetail"
          }
        }
      },
      "AdmissionHistoryData": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "admissions"
        ],
        "properties": {
          "admissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdmissionHistoryItem"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "AdmissionHistoryItem": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "encounter_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "admitting_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "attending_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          },
          "ward": {
            "type": "string",
            "nullable": true
          },
          "bed_id": {
            "type": "integer",
            "nullable": true
          },
          "bed_number": {
            "type": "string",
            "nullable": true
          },
          "chief_complaint": {
            "type": "string",
            "nullable": true
          },
          "admitting_diagnosis": {
            "type": "string",
            "nullable": true
          },
          "admission_type": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "admitted",
              "transferred",
              "discharged",
              "cancelled",
              "lama",
              "expired"
            ]
          },
          "priority": {
            "type": "string",
            "nullable": true,
            "enum": [
              "routine",
              "urgent",
              "emergent"
            ]
          },
          "code_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "full_code",
              "dnr",
              "dni",
              "comfort_care"
            ]
          },
          "admitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "discharged_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "discharge_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "home",
              "transfer",
              "lama",
              "expired",
              "aor"
            ]
          },
          "expected_los_days": {
            "type": "integer",
            "nullable": true
          },
          "ip_number": {
            "type": "string",
            "nullable": true
          },
          "los_days": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "AdmissionListItem": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "encounter_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "admitting_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "attending_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          },
          "ward": {
            "type": "string",
            "nullable": true
          },
          "bed_id": {
            "type": "integer",
            "nullable": true
          },
          "bed_number": {
            "type": "string",
            "nullable": true
          },
          "chief_complaint": {
            "type": "string",
            "nullable": true
          },
          "admitting_diagnosis": {
            "type": "string",
            "nullable": true
          },
          "admission_type": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "admitted",
              "transferred",
              "discharged",
              "cancelled",
              "lama",
              "expired"
            ]
          },
          "priority": {
            "type": "string",
            "nullable": true,
            "enum": [
              "routine",
              "urgent",
              "emergent"
            ]
          },
          "code_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "full_code",
              "dnr",
              "dni",
              "comfort_care"
            ]
          },
          "allergies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "admitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expected_los_days": {
            "type": "integer",
            "nullable": true
          },
          "next_review_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "patient_phone": {
            "type": "string",
            "nullable": true
          },
          "patient_hospital_number": {
            "type": "string",
            "nullable": true
          },
          "hospital_number": {
            "type": "string",
            "nullable": true
          },
          "bed_ward_name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AdmissionLookup": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "lookup_state"
        ],
        "properties": {
          "lookup_state": {
            "type": "string",
            "enum": [
              "multiple_matches",
              "new_patient",
              "returning_ip_patient",
              "known_patient_no_prior_ip"
            ]
          },
          "patient": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "matches": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "prior_admissions": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "count": {
            "type": "integer"
          },
          "last_ip_number": {
            "type": "string",
            "nullable": true
          },
          "last_admission": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "next_ip_number_hint": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AdmissionLookupData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AdmissionLookup"
          }
        ]
      },
      "AdmissionMutationData": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "admission"
        ],
        "properties": {
          "admission": {
            "$ref": "#/components/schemas/AdmissionRow"
          }
        }
      },
      "AdmissionRow": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "patient_uid"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "encounter_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "admitted",
              "transferred",
              "discharged",
              "cancelled",
              "lama",
              "expired"
            ]
          },
          "admission_type": {
            "type": "string",
            "nullable": true
          },
          "admitting_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "ward": {
            "type": "string",
            "nullable": true
          },
          "bed_id": {
            "type": "integer",
            "nullable": true
          },
          "bed_number": {
            "type": "string",
            "nullable": true
          },
          "attending_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "admitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "discharged_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "code_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "full_code",
              "dnr",
              "dni",
              "comfort_care"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "from_er_visit_id": {
            "type": "integer",
            "nullable": true
          },
          "er_arrival_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "room_category": {
            "type": "string",
            "nullable": true,
            "enum": [
              "general",
              "semi_private",
              "private",
              "deluxe",
              "icu",
              "day_care"
            ]
          },
          "emergency_consent_bypass_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "emergency_consent_bypass_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "emergency_consent_bypass_reason": {
            "type": "string",
            "nullable": true
          },
          "policy_id": {
            "type": "integer",
            "nullable": true
          },
          "package_id": {
            "type": "integer",
            "nullable": true
          },
          "package_code": {
            "type": "string",
            "nullable": true
          },
          "package_estimated_cost_minor": {
            "nullable": true,
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "string"
              }
            ]
          },
          "govt_scheme": {
            "type": "string",
            "nullable": true
          },
          "govt_scheme_status": {
            "type": "string",
            "nullable": true
          },
          "next_review_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "prior_admission_id": {
            "type": "integer",
            "nullable": true
          },
          "los_days": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "AdmissionStats": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "total_admissions",
          "total_discharged"
        ],
        "properties": {
          "total_admissions": {
            "type": "integer"
          },
          "total_discharged": {
            "type": "integer"
          },
          "avg_los_days": {
            "type": "number",
            "nullable": true
          },
          "currently_admitted": {
            "type": "integer"
          },
          "currently_transferred": {
            "type": "integer"
          },
          "occupancy_rate": {
            "type": "number"
          },
          "total_beds": {
            "type": "integer"
          },
          "occupied_beds": {
            "type": "integer"
          },
          "discharge_type_breakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "discharge_type",
                "count"
              ],
              "properties": {
                "discharge_type": {
                  "type": "string",
                  "nullable": true,
                  "enum": [
                    "home",
                    "transfer",
                    "lama",
                    "expired",
                    "aor"
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "admission_type_breakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "admission_type",
                "count"
              ],
              "properties": {
                "admission_type": {
                  "type": "string",
                  "nullable": true
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "AdmissionStatsData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AdmissionStats"
          }
        ]
      },
      "AdmitAdmissionRow": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "status",
          "patient_uid"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "encounter_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "admitted",
              "transferred",
              "discharged",
              "cancelled",
              "lama",
              "expired"
            ]
          },
          "admission_type": {
            "type": "string",
            "nullable": true
          },
          "admitting_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "attending_doctor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "ward": {
            "type": "string",
            "nullable": true
          },
          "bed_id": {
            "type": "integer",
            "nullable": true
          },
          "bed_number": {
            "type": "string",
            "nullable": true
          },
          "admitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "discharged_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "code_status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "full_code",
              "dnr",
              "dni",
              "comfort_care"
            ]
          },
          "room_category": {
            "type": "string",
            "nullable": true,
            "enum": [
              "general",
              "semi_private",
              "private",
              "deluxe",
              "icu",
              "day_care"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "ip_number": {
            "type": "string",
            "nullable": true
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "patient_phone": {
            "type": "string",
            "nullable": true
          },
          "patient_hospital_number": {
            "type": "string",
            "nullable": true
          },
          "hospital_number": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AdmitData": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "admission"
        ],
        "properties": {
          "admission": {
            "$ref": "#/components/schemas/AdmitAdmissionRow"
          }
        }
      },
      "Advance": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "patient_uid",
          "amount",
          "balance",
          "mode",
          "collected_at",
          "status",
          "tenant_id",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid"
          },
          "admission_id": {
            "type": "integer",
            "nullable": true
          },
          "amount": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "reference": {
            "type": "string",
            "nullable": true
          },
          "collected_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "collected_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdvanceResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Advance"
          }
        }
      },
      "AdvanceSettlement": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "advance_id",
          "invoice_id",
          "amount",
          "tenant_id"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "advance_id": {
            "type": "integer"
          },
          "invoice_id": {
            "type": "integer"
          },
          "amount": {
            "type": "string"
          },
          "settled_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "settled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "advance_mode": {
            "type": "string"
          }
        }
      },
      "AdvanceSettlementResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AdvanceSettlement"
          }
        }
      },
      "AdvancesListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Advance"
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AdviseAdmissionData": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AdviseAdmissionResult"
          }
        ]
      },
      "AdviseAdmissionRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "POST /api/v1/appointments/{id}/advise-admission.",
        "properties": {
          "note": {
            "type": "string"
          }
        }
      },
      "AdviseAdmissionResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AdviseAdmissionResult"
          }
        }
      },
      "AdviseAdmissionResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_id": {
            "type": "integer",
            "nullable": true
          },
          "doctor_id": {
            "type": "integer",
            "nullable": true
          },
          "advised_for_admission_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "advised_for_admission_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "advised_for_admission_note": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "SCHEDULED",
              "CONFIRMED",
              "IN_PROGRESS",
              "COMPLETED",
              "RESCHEDULED",
              "CANCELLED",
              "NO_SHOW"
            ]
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        }
      },
      "AgingBucket": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "bucket",
          "invoiceCount",
          "totalPaise",
          "total"
        ],
        "properties": {
          "bucket": {
            "type": "string",
            "enum": [
              "0-30",
              "31-60",
              "61-90",
              "90+"
            ]
          },
          "invoiceCount": {
            "type": "integer",
            "example": 3
          },
          "totalPaise": {
            "type": "integer",
            "example": 250000
          },
          "total": {
            "type": "string",
            "example": "2500.00"
          }
        }
      },
      "AgingReport": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "buckets",
          "grandTotalPaise",
          "grandTotal"
        ],
        "properties": {
          "buckets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgingBucket"
            }
          },
          "grandTotalPaise": {
            "type": "integer",
            "example": 250000
          },
          "grandTotal": {
            "type": "string",
            "example": "2500.00"
          }
        }
      },
      "AgingReportResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AgingReport"
          }
        }
      },
      "AiDraftEnvelope": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "draft",
          "module_key"
        ],
        "properties": {
          "draft": {
            "type": "object",
            "additionalProperties": true
          },
          "module_key": {
            "type": "string"
          },
          "prompt_version": {
            "type": "string"
          },
          "source_citations": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "safety_flags": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "severity": {
                  "type": "string",
                  "enum": [
                    "low",
                    "medium",
                    "high",
                    "critical"
                  ]
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "ai_metadata": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "provider": {
                "type": "string"
              },
              "model": {
                "type": "string",
                "nullable": true
              },
              "tier": {
                "type": "string"
              },
              "model_tier": {
                "type": "string"
              },
              "used_ai": {
                "type": "boolean"
              },
              "fallback_reason": {
                "type": "string",
                "nullable": true
              },
              "generation_mode": {
                "type": "string"
              },
              "readiness_reason": {
                "type": "string",
                "nullable": true
              },
              "provider_status": {
                "type": "string"
              },
              "usage": {
                "type": "object",
                "additionalProperties": true
              },
              "safety_review": {
                "type": "object",
                "additionalProperties": true,
                "nullable": true
              }
            }
          },
          "review_status": {
            "type": "string",
            "enum": [
              "pending",
              "accepted",
              "rejected",
              "needs_revision",
              "edited",
              "schema_unavailable"
            ]
          },
          "review_id": {
            "type": "integer",
            "nullable": true
          },
          "generation_id": {
            "type": "integer",
            "nullable": true
          },
          "draft_generation_id": {
            "type": "integer",
            "nullable": true
          },
          "requires_signoff": {
            "type": "boolean"
          }
        }
      },
      "AiExtractionSummary": {
        "type": "object",
        "nullable": true,
        "additionalProperties": true,
        "properties": {
          "intake_id": {
            "nullable": true
          },
          "extraction_status": {
            "type": "string",
            "nullable": true
          },
          "document_type": {
            "type": "string",
            "nullable": true
          },
          "reviewer_decision": {
            "type": "string",
            "nullable": true
          },
          "reviewed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "reviewer_note": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "decision_support_only": {
            "type": "boolean"
          },
          "extracted_fields": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "normalized_sections": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "source_citations": {
            "type": "array",
            "items": {}
          },
          "safety_flags": {
            "type": "array",
            "items": {}
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "raw_text": {
            "type": "string"
          }
        }
      },
      "AnnualReviewItem": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "uid"
        ],
        "properties": {
          "uid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "type": "string",
            "nullable": true
          },
          "basic_salary": {
            "type": "string",
            "nullable": true
          },
          "date_of_joining": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "years_of_service": {
            "type": "string",
            "nullable": true
          },
          "review_status": {
            "type": "string",
            "nullable": true
          },
          "reminder_id": {
            "type": "integer",
            "nullable": true
          },
          "revision_this_year": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AnnualReviewStatus": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "year",
          "staff"
        ],
        "properties": {
          "year": {
            "type": "integer"
          },
          "staff": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnnualReviewItem"
            }
          }
        }
      },
      "AnnualReviewStatusResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AnnualReviewStatus"
          }
        }
      },
      "ApplyDiscountRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "Reverse-engineered from billingV2Service.applyDiscount; not validator-backed.",
        "properties": {
          "amount": {
            "type": "number"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "ApplyOrderSetResult": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ClinicalOrderCreateResult"
          },
          {
            "type": "object",
            "additionalProperties": true,
            "required": [
              "error",
              "kind"
            ],
            "properties": {
              "error": {
                "type": "string"
              },
              "kind": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ApplyRevisionResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ApplyRevisionResult"
          }
        }
      },
      "ApplyRevisionResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "revision_id",
          "staff_uid"
        ],
        "properties": {
          "revision_id": {
            "type": "string"
          },
          "staff_uid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Appointment": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "uid",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "uid": {
            "type": "string",
            "format": "uuid"
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "patient_id": {
            "type": "integer",
            "nullable": true
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_phone": {
            "type": "string",
            "nullable": true
          },
          "doctor_id": {
            "type": "integer",
            "nullable": true
          },
          "doctor_name": {
            "type": "string",
            "nullable": true
          },
          "appointment_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "appointment_time": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "SCHEDULED",
              "CONFIRMED",
              "IN_PROGRESS",
              "COMPLETED",
              "RESCHEDULED",
              "CANCELLED",
              "NO_SHOW"
            ]
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          },
          "visit_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "NEW",
              "FOLLOW_UP",
              "EMERGENCY",
              "TELE",
              "LAB_ONLY",
              "PAEDIATRIC_OPD"
            ]
          },
          "token_number": {
            "type": "string",
            "nullable": true
          },
          "visit_no": {
            "type": "string",
            "nullable": true
          },
          "confirmed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "parent_appointment_id": {
            "type": "integer",
            "nullable": true
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "queue_id": {
            "type": "integer",
            "nullable": true
          },
          "appointment_queue": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        }
      },
      "AppointmentAnalyticsResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AppointmentAnalyticsResult"
          }
        }
      },
      "AppointmentAnalyticsResult": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "timeframe",
          "overall",
          "trends",
          "departmentBreakdown",
          "peakHours"
        ],
        "properties": {
          "timeframe": {
            "type": "string",
            "enum": [
              "7d",
              "30d",
              "90d",
              "1y"
            ]
          },
          "overall": {
            "type": "object",
            "additionalProperties": true
          },
          "trends": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "departmentBreakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "peakHours": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "generatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "requestedBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentAuditTrailEntry": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "appointment_id",
          "to_status"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "appointment_id": {
            "type": "integer"
          },
          "from_status": {
            "type": "string",
            "nullable": true
          },
          "to_status": {
            "type": "string"
          },
          "changed_by": {
            "type": "integer",
            "nullable": true
          },
          "changed_by_role": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "appointment_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "changed_by_name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentAuditTrailResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppointmentAuditTrailEntry"
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AppointmentConflict": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "appointment1_id",
          "appointment2_id"
        ],
        "properties": {
          "appointment1_id": {
            "type": "integer"
          },
          "appointment1_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "patient1_name": {
            "type": "string",
            "nullable": true
          },
          "appointment2_id": {
            "type": "integer"
          },
          "appointment2_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "patient2_name": {
            "type": "string",
            "nullable": true
          },
          "doctor_name": {
            "type": "string",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentConflictsResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AppointmentConflictsResult"
          }
        }
      },
      "AppointmentConflictsResult": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "conflicts",
          "totalConflicts"
        ],
        "properties": {
          "conflicts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppointmentConflict"
            }
          },
          "totalConflicts": {
            "type": "integer"
          },
          "date": {
            "type": "string",
            "nullable": true
          },
          "doctor_id": {
            "type": "string",
            "nullable": true
          },
          "requestedBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentDetail": {
        "type": "object",
        "additionalProperties": true,
        "allOf": [
          {
            "$ref": "#/components/schemas/Appointment"
          }
        ],
        "properties": {
          "doctor_name_detail": {
            "type": "string",
            "nullable": true
          },
          "doctor_phone": {
            "type": "string",
            "nullable": true
          },
          "doctor_email": {
            "type": "string",
            "nullable": true
          },
          "patient_email": {
            "type": "string",
            "nullable": true
          },
          "specialty": {
            "type": "string",
            "nullable": true
          },
          "has_allergies": {
            "type": "boolean"
          },
          "allergy_flag": {
            "type": "boolean"
          },
          "allergies": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "follow_up_context": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "pregnancy_context": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "gestational_age": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "properties": {
              "weeks": {
                "type": "integer"
              },
              "days": {
                "type": "integer"
              },
              "total_days": {
                "type": "integer"
              },
              "label": {
                "type": "string"
              }
            }
          }
        }
      },
      "AppointmentDetailResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "required": [
              "appointment"
            ],
            "properties": {
              "appointment": {
                "$ref": "#/components/schemas/AppointmentDetail"
              },
              "accessedBy": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "AppointmentDocumentRow": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "appointment_id"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "appointment_id": {
            "type": "integer"
          },
          "patient_id": {
            "type": "integer",
            "nullable": true
          },
          "doctor_id": {
            "type": "integer",
            "nullable": true
          },
          "uploaded_by": {
            "type": "integer",
            "nullable": true
          },
          "upload_role": {
            "type": "string",
            "nullable": true
          },
          "document_type": {
            "type": "string",
            "nullable": true
          },
          "file_key": {
            "type": "string",
            "nullable": true
          },
          "file_url": {
            "type": "string",
            "nullable": true
          },
          "file_name": {
            "type": "string",
            "nullable": true
          },
          "file_size": {
            "type": "integer",
            "nullable": true
          },
          "file_mime": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "uploaded_by_name": {
            "type": "string",
            "nullable": true
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "doctor_name": {
            "type": "string",
            "nullable": true
          },
          "appointment_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "appointment_time": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentDocumentUploadResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AppointmentDocumentUploadResult"
          }
        }
      },
      "AppointmentDocumentUploadResult": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "appointment_id"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "appointment_id": {
            "type": "integer"
          },
          "patient_id": {
            "type": "integer",
            "nullable": true
          },
          "doctor_id": {
            "type": "integer",
            "nullable": true
          },
          "uploaded_by": {
            "type": "integer",
            "nullable": true
          },
          "upload_role": {
            "type": "string",
            "nullable": true
          },
          "document_type": {
            "type": "string",
            "nullable": true
          },
          "file_key": {
            "type": "string",
            "nullable": true
          },
          "file_url": {
            "type": "string",
            "nullable": true
          },
          "file_name": {
            "type": "string",
            "nullable": true
          },
          "file_size": {
            "type": "integer",
            "nullable": true
          },
          "file_mime": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "AppointmentDocumentsListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PatientRecordDocItem"
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AppointmentDocumentsResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppointmentDocumentRow"
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AppointmentExportResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AppointmentExportResult"
          }
        }
      },
      "AppointmentExportResult": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "appointments",
          "count"
        ],
        "properties": {
          "appointments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppointmentExportRow"
            }
          },
          "count": {
            "type": "integer"
          },
          "exportDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "filters": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "requestedBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentExportRow": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "appointment_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "appointment_time": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "patient_phone": {
            "type": "string",
            "nullable": true
          },
          "doctor_name": {
            "type": "string",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          },
          "consultation_duration_minutes": {
            "type": "integer",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentHardDeleteRetiredResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "success",
          "message",
          "code"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "enum": [
              "APPOINTMENT_HARD_DELETE_RETIRED"
            ]
          },
          "requestId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentHistoryEntry": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "appointment_id",
          "to_status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "appointment_id": {
            "type": "integer"
          },
          "from_status": {
            "type": "string",
            "nullable": true
          },
          "to_status": {
            "type": "string"
          },
          "changed_by": {
            "type": "integer",
            "nullable": true
          },
          "changed_by_role": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "changed_by_name": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentHistoryResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppointmentHistoryEntry"
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "AppointmentListItem": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "patient_id": {
            "type": "integer",
            "nullable": true
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "patient_phone": {
            "type": "string",
            "nullable": true
          },
          "doctor_id": {
            "type": "integer",
            "nullable": true
          },
          "doctor_name": {
            "type": "string",
            "nullable": true
          },
          "appointment_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "appointment_time": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "SCHEDULED",
              "CONFIRMED",
              "IN_PROGRESS",
              "COMPLETED",
              "RESCHEDULED",
              "CANCELLED",
              "NO_SHOW"
            ]
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "department": {
            "type": "string",
            "nullable": true
          },
          "visit_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "NEW",
              "FOLLOW_UP",
              "EMERGENCY",
              "TELE",
              "LAB_ONLY",
              "PAEDIATRIC_OPD"
            ]
          },
          "token_number": {
            "type": "string",
            "nullable": true
          },
          "visit_no": {
            "type": "string",
            "nullable": true
          },
          "parent_appointment_id": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "queue_id": {
            "type": "integer",
            "nullable": true
          },
          "appointment_queue": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        }
      },
      "AppointmentListResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AppointmentListResult"
          }
        }
      },
      "AppointmentListResult": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "appointments"
        ],
        "properties": {
          "appointments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppointmentListItem"
            }
          },
          "pagination": {
            "type": "object",
            "additionalProperties": true
          },
          "filters": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "requestedBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentPathwayConfiguration": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode",
          "projection_pending",
          "completeness_checked",
          "completeness_proven",
          "exact_source_count",
          "child_event_count",
          "valid_child_event_count",
          "missing_source_event_count",
          "pending_child_projection_count",
          "invalid_child_event_count",
          "child_state_mismatch_count",
          "unsupported_historical_source_types",
          "pathway_instance_id",
          "pathway_clinical_status"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "off",
              "shadow",
              "active"
            ]
          },
          "projection_pending": {
            "type": "boolean"
          },
          "completeness_checked": {
            "type": "boolean"
          },
          "completeness_proven": {
            "type": "boolean"
          },
          "exact_source_count": {
            "type": "integer",
            "minimum": 0
          },
          "child_event_count": {
            "type": "integer",
            "minimum": 0
          },
          "valid_child_event_count": {
            "type": "integer",
            "minimum": 0
          },
          "missing_source_event_count": {
            "type": "integer",
            "minimum": 0
          },
          "pending_child_projection_count": {
            "type": "integer",
            "minimum": 0
          },
          "invalid_child_event_count": {
            "type": "integer",
            "minimum": 0
          },
          "child_state_mismatch_count": {
            "type": "integer",
            "minimum": 0
          },
          "unsupported_historical_source_types": {
            "type": "array",
            "maxItems": 0,
            "uniqueItems": true,
            "items": {
              "type": "string"
            }
          },
          "pathway_instance_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "pathway_clinical_status": {
            "type": "string",
            "enum": [
              "planned",
              "active",
              "on_hold",
              "completed",
              "cancelled",
              "transferred",
              "entered_in_error"
            ],
            "nullable": true
          }
        }
      },
      "AppointmentPathwayWork": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode",
          "projection_pending",
          "configuration",
          "visit_completion",
          "pathway_closure",
          "items",
          "prior_admission_pending_results",
          "closure_evidence"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "off",
              "shadow",
              "active"
            ]
          },
          "projection_pending": {
            "type": "boolean"
          },
          "configuration": {
            "$ref": "#/components/schemas/AppointmentPathwayConfiguration"
          },
          "visit_completion": {
            "$ref": "#/components/schemas/AppointmentPathwayWorkGate"
          },
          "pathway_closure": {
            "$ref": "#/components/schemas/AppointmentPathwayWorkGate"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppointmentPathwayWorkItem"
            }
          },
          "prior_admission_pending_results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpFollowUpPendingResult"
            }
          },
          "closure_evidence": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/OpVisitClosureEvidence"
              }
            ]
          }
        }
      },
      "AppointmentPathwayWorkBlocker": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000
          },
          "resource_type": {
            "type": "string",
            "nullable": true,
            "maxLength": 160
          },
          "resource_id": {
            "type": "string",
            "nullable": true,
            "maxLength": 200
          }
        }
      },
      "AppointmentPathwayWorkGate": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "allowed",
          "blockers"
        ],
        "properties": {
          "allowed": {
            "type": "boolean"
          },
          "blockers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppointmentPathwayWorkBlocker"
            }
          }
        }
      },
      "AppointmentPathwayWorkItem": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "resource_type",
          "id",
          "relationship_kind",
          "evidence_state",
          "blocking",
          "owner_uid",
          "owner_name",
          "owner_role",
          "task_id",
          "handoff_id",
          "route"
        ],
        "properties": {
          "resource_type": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "relationship_kind": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "evidence_state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "blocking": {
            "type": "boolean"
          },
          "owner_uid": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "owner_name": {
            "type": "string",
            "nullable": true
          },
          "owner_role": {
            "type": "string",
            "nullable": true
          },
          "task_id": {
            "type": "integer",
            "minimum": 1,
            "nullable": true
          },
          "handoff_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "route": {
            "type": "string",
            "enum": [
              "appointments",
              "admissions",
              "prescriptions",
              "clinical_orders",
              "investigations",
              "radiology",
              "anatomical_pathology",
              "diagnostic_results",
              "referrals",
              "follow_up",
              "clinical_notes",
              "discharge_hub"
            ],
            "nullable": true
          },
          "configuration_issue": {
            "type": "string",
            "enum": [
              "missing_source_event",
              "child_projection_pending",
              "invalid_source_event",
              "source_state_mismatch"
            ],
            "nullable": true
          },
          "source_evidence_state": {
            "type": "string",
            "nullable": true,
            "maxLength": 80
          }
        }
      },
      "AppointmentPathwayWorkResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AppointmentPathwayWork"
          },
          "requestId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          }
        },
        "additionalProperties": false
      },
      "AppointmentResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Appointment"
          }
        }
      },
      "AppointmentSearchResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AppointmentSearchResult"
          }
        }
      },
      "AppointmentSearchResult": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "appointments",
          "pagination"
        ],
        "properties": {
          "appointments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppointmentListItem"
            }
          },
          "pagination": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "totalPages": {
                "type": "integer"
              }
            }
          },
          "filters": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "requestedBy": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AppointmentWaitTime": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "appointmentId",
          "status",
          "queuePosition",
          "patientsAhead",
          "currentlyConsulting",
          "estimatedWaitMinutes",
          "avgConsultationMinutes"
        ],
        "properties": {
          "appointmentId": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "SCHEDULED",
              "CONFIRMED",
              "IN_PROGRESS",
              "COMPLETED",
              "RESCHEDULED",
              "CANCELLED",
              "NO_SHOW"
            ]
          },
          "tokenNumber": {
            "type": "string",
            "nullable": true
          },
          "queuePosition": {
            "type": "integer"
          },
          "patientsAhead": {
            "type": "integer"
          },
          "currentlyConsulting": {
            "type": "integer"
          },
          "estimatedWaitMinutes": {
            "type": "integer"
          },
          "avgConsultationMinutes": {
            "type": "integer"
          }
        }
      },
      "AppointmentWaitTimeResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AppointmentWaitTime"
          }
        }
      },
      "ApproveBulkRevisionResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ApproveBulkRevisionResult"
          }
        }
      },
      "ApproveBulkRevisionResult": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "status",
          "staff_count"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "example": "processing"
          },
          "staff_count": {
            "type": "integer"
          }
        }
      },
      "ApproveDeclarationRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "Reverse-engineered from payrollController.approveDeclaration; not validator-backed.",
        "properties": {
          "notes": {
            "type": "string"
          }
        }
      },
      "ArAgingBucketRow": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "bucket",
          "invoice_count",
          "outstanding_amount"
        ],
        "properties": {
          "bucket": {
            "type": "string",
            "enum": [
              "0-30",
              "31-60",
              "61-90",
              "90+"
            ]
          },
          "invoice_count": {
            "type": "integer"
          },
          "outstanding_amount": {
            "type": "number"
          }
        }
      },
      "ArAgingInvoice": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "source",
          "id",
          "invoice_number",
          "patient_uid",
          "type",
          "total_amount",
          "paid_amount",
          "outstanding_amount",
          "issued_at",
          "age_days"
        ],
        "properties": {
          "source": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "invoice_number": {
            "type": "string"
          },
          "patient_uid": {
            "type": "string",
            "format": "uuid"
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string"
          },
          "total_amount": {
            "type": "number"
          },
          "paid_amount": {
            "type": "number"
          },
          "outstanding_amount": {
            "type": "number"
          },
          "issued_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "age_days": {
            "type": "integer"
          },
          "insurer_name": {
            "type": "string",
            "nullable": true
          },
          "claim_reference": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ArAgingOverall": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "invoice_count",
          "total_outstanding",
          "oldest_age_days"
        ],
        "properties": {
          "invoice_count": {
            "type": "integer"
          },
          "total_outstanding": {
            "type": "number"
          },
          "oldest_age_days": {
            "type": "integer"
          }
        }
      },
      "ArAgingResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ArAgingSummary"
          }
        }
      },
      "ArAgingSummary": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "as_of",
          "overall",
          "buckets",
          "invoices"
        ],
        "properties": {
          "as_of": {
            "type": "string",
            "format": "date-time"
          },
          "overall": {
            "$ref": "#/components/schemas/ArAgingOverall"
          },
          "buckets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArAgingBucketRow"
            }
          },
          "invoices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArAgingInvoice"
            }
          }
        }
      },
      "ArrearsResult": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "arrears_amount"
        ],
        "properties": {
          "arrears_amount": {
            "type": "number"
          },
          "message": {
            "type": "string"
          },
          "months": {
            "type": "integer"
          },
          "result": {
            "$ref": "#/components/schemas/SalaryArrearsRow"
          }
        }
      },
      "ArrearsResultResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/ArrearsResult"
          }
        }
      },
      "BedOption": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "bed_number"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "bed_number": {
            "type": "string"
          },
          "ward_id": {
            "type": "integer",
            "nullable": true
          },
          "ward_name": {
            "type": "string",
            "nullable": true
          },
          "floor": {
            "type": "integer",
            "nullable": true
          },
          "bed_type": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "available",
              "occupied",
              "reserved",
              "maintenance",
              "cleaning",
              "dirty"
            ]
          },
          "notes": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BedOptionsData": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "beds",
          "count"
        ],
        "properties": {
          "beds": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BedOption"
            }
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "BillingPackage": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "tenant_id",
          "package_code",
          "display_name",
          "currency",
          "status",
          "metadata",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "package_code": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "base_specialty": {
            "type": "string",
            "nullable": true
          },
          "base_procedure_code": {
            "type": "string",
            "nullable": true
          },
          "duration_days": {
            "type": "integer",
            "nullable": true
          },
          "fixed_price_minor": {
            "type": "integer",
            "nullable": true
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "exclusion_notes": {
            "type": "string",
            "nullable": true
          },
          "inclusion_notes": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "created_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BillingPackageResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/BillingPackage"
          }
        }
      },
      "BookAppointmentRequest": {
        "type": "object",
        "additionalProperties": true,
        "description": "POST /api/v1/appointments/book. Accepts date/time/phone aliases; patient_id is derived from JWT for PATIENT callers or resolved from patient_phone.",
        "properties": {
          "patient_id": {
            "type": "integer"
          },
          "patient_phone": {
            "type": "string"
          },
          "patient_name": {
            "type": "string"
          },
          "doctor_id": {
            "type": "integer"
          },
          "doctor_uid": {
            "type": "string",
            "format": "uuid"
          },
          "appointment_date": {
            "type": "string"
          },
          "appointment_time": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "time": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "department": {
            "type": "string"
          },
          "visit_type": {
            "type": "string",
            "enum": [
              "NEW",
              "FOLLOW_UP",
              "EMERGENCY",
              "TELE",
              "LAB_ONLY",
              "PAEDIATRIC_OPD"
            ]
          },
          "confirm_duplicate": {
            "type": "boolean"
          }
        }
      },
      "BookAppointmentResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/BookAppointmentResult"
          }
        }
      },
      "BookAppointmentResult": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "appointment",
          "patient"
        ],
        "properties": {
          "appointment": {
            "$ref": "#/components/schemas/AppointmentDetail"
          },
          "patient_name": {
            "type": "string",
            "nullable": true
          },
          "patient": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "id": {
                "type": "integer",
                "nullable": true
              },
              "uid": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "phone": {
                "type": "string",
                "nullable": true
              },
              "created": {
                "type": "boolean"
              }
            }
          },
          "doctor_name": {
            "type": "string",
            "nullable": true
          },
          "booked_by": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BulkRevisionJob": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "description",
          "revision_type",
          "target_type",
          "staff_count",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "revision_type": {
            "type": "string"
          },
          "target_type": {
            "type": "string"
          },
          "target_value": {
            "type": "string",
            "nullable": true
          },
          "increment_type": {
            "type": "string",
            "nullable": true
          },
          "increment_value": {
            "type": "string",
            "nullable": true
          },
          "bonus_amount": {
            "type": "string",
            "nullable": true
          },
          "effective_from": {
            "type": "string",
            "format": "date-time"
          },
          "staff_count": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "draft",
              "approved",
              "completed",
              "failed"
            ]
          },
          "created_by": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BulkRevisionJobListItem": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "id",
          "description",
          "revision_type",
          "target_type",
          "status"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "revision_type": {
            "type": "string"
          },
          "target_type": {
            "type": "string"
          },
          "target_value": {
            "type": "string",
            "nullable": true
          },
          "increment_type": {
            "type": "string",
            "nullable": true
          },
          "increment_value": {
            "type": "string",
            "nullable": true
          },
          "bonus_amount": {
            "type": "string",
            "nullable": true
          },
          "effective_from": {
            "type": "string",
            "format": "date-time"
          },
[...]
