[Unit]
Description=VH Health Backend API
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
User=bahuleyan
WorkingDirectory=/home/bahuleyan/vhhealth-backend
EnvironmentFile=/home/bahuleyan/vhhealth-backend/.env
ExecStart=/usr/bin/node --enable-source-maps src/bin/www.js
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vhhealth-backend

[Install]
WantedBy=multi-user.target
